spring.application.name=portfolio
spring.datasource.url=jdbc:postgresql://localhost:5432/portfolio-jm
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.driverClassName=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update


spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=email
spring.mail.password=password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.flyway.enabled=false

strings.secretKey = secretKey
strings.issuer = issuer
strings.tokenValidAfterHours = tokenValidAfterHours
strings.zoneId = America/Fortaleza
strings.headerToken = headerToken
strings.prefixToken = prefixToken